#main,
#watchlist {
    padding: 2em;
}

#alerts {
    position: fixed;
    bottom: 0;
    right: 0;
}

#alerts .alert {
    padding: 5px;
    margin: 5px;
}

#watchlist div {
    display: inline-block;
    margin: .5em;
    padding: .5em 1em .5em 1em;
    border-radius: .5em;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    color: #3a87ad;
}

#watchlist div i {
    cursor: pointer;
    margin-left: .5em;
}

.meta {
    margin-bottom: 1em;
}
